<a href="https://colab.research.google.com/github/ASO1801006/AI_teach2020/blob/master/2020AI0202_Square.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### データの分類をランダムフォレストで行う

In [9]:
# ライブラリの読み込み
import pandas as pd
# データを学習用とテスト用に分けるライブラリ
from sklearn.model_selection import train_test_split
# ランダムフォレストアルゴリズムの学習モデル(分類)
from sklearn.ensemble import RandomForestClassifier
# 学習制度を評価するライブラリ
from sklearn.metrics import accuracy_score
# 分類結果を出力するライブラリ
from sklearn.metrics import classification_report

### データの読み込みを行う

In [10]:
# webから読み込むためのライブラリ
from urllib.request import urlretrieve
# uciのサイトから読み込むためのurl文字列
url = "https://raw.githubusercontent.com/masatokg/square_data/master/data.csv"
savepath = "data.csv"
# データをwebアクセスでコピーして指定したファイルパス・ファイル名うに保存
urlretrieve(url, savepath)

('data.csv', <http.client.HTTPMessage at 0x7f66ae698d30>)

### データのファイルをプログラムに読み込んで表示(区切り文字をセミコロン「:」で指定)

In [11]:
# 変数wineにデータ保持
square = pd.read_csv(savepath, sep = ",", encoding = "utf-8")
# 読み込んだデータの最初のほうを表示
square.head()

   a_length  b_length  c_length  ...  cd_Parallel  ab_right_angle   shape
0        10        10        10  ...            1               1  square
1        11        11        11  ...            1               1  square
2        12        12        12  ...            1               1  square
3        13        13        13  ...            1               1  square
4        14        14        14  ...            1               1  square

[5 rows x 8 columns]

### データを説明変数と目的変数（ラベル）に分類

In [12]:
#　目的変数はワインの品質ランク
y = square["shape"]
# 説明変数は"quality"列をじ除外した残り全て
x = square.drop("shape", axis =1)
x.head()

   a_length  b_length  c_length  ...  ab_Parallel  cd_Parallel  ab_right_angle
0        10        10        10  ...            1            1               1
1        11        11        11  ...            1            1               1
2        12        12        12  ...            1            1               1
3        13        13        13  ...            1            1               1
4        14        14        14  ...            1            1               1

[5 rows x 7 columns]

### 学習用とテスト用に分類する

In [13]:
# _trainは学習用、_testはテスト（検証）用とする
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

### 学習させる

In [14]:
# ランダムフォレストで学習
model = RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

### テスト（predict）して結果を評価する

In [15]:
# テスト(predict)して結果を評価
y_pred =model.predict(x_test)
# テスト結果(y_pred)と、本当の実データ(正解ラベルデータ)を比較して制度を評価
print(classification_report(y_test, y_pred))
# 正解率
print("正解率 = ", accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

   rectangle       1.00      1.00      1.00        23
     rhombus       1.00      1.00      1.00        18
      square       1.00      1.00      1.00        20
   trapezoid       1.00      1.00      1.00        19

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80

正解率 =  1.0